
# ---------------------------------------------------------------------------- #
# Example .env file to indicate which variables must be defined in order for   #
# the project to run.                                                          #
# ---------------------------------------------------------------------------- #

PORT=

APP_SECRET=
